body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 40px 350px 150px 50px 325px 50px 50px 325px 50px 50px 325px 25px 25px 150px 50px 394px 394px 394px 50px 150px 25px 125px 25px 125px 25px 150px 25px 200px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.button {
    background-color: #474E5D; /* Grey button */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    margin: 4px 2px;
}

.button2 {
    background-color: white; /* White button */
    color: #474E5D;
}

.button3 {
    color: white; /* Photo grid button */
    background-color: #474E5D;
    opacity: 50;
    font-size: 25px;
}
 

.logo {
    display: flex;
    background-color: #474E5D;
    grid-row: 1;
    grid-column: 1 / span 6;
    padding-left: 25px;
    padding-top: 8px;
    font-size: 15px;
}

.nav {
    background-color: #474E5D;
    grid-row: 1;
    grid-column: 6 / span 6;
}

.menuItems {
    float: right;
    display: flex;
    font-size: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

h1 {
    font-size: 65px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    font-weight: 100;   
}

h3 {
    font-size: 25px;
    font-weight: 100;
}

h4 {
    font-size: 18px;
    font-weight: 100;
}

h5 {
    font-size: 35px;
    font-weight: 100;
    color: #474E5D;
    margin-bottom: 5px;
    line-height: 40px;
}

p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px
}


ul {
    list-style-type: none;
    padding: 0;
    width: 60px;
    color: white;
}

li a {
    display: inline;
    display: block;
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding-left: 1em;
}


.mainImg {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    grid-column: 1 / span 8;
}

    .mainImg h1 {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin: 0;
    }

    .mainImg h3 {
        display: flex;
        justify-content: center;
        margin: 0;
        
    }


.map {
    background-image: url('images/Versilia.jpg');
    grid-row: 2;
    grid-column: 9 / span 3;
}

.locations {
    background-color: #474E5D;
    grid-row: 3;
    grid-column: 1 / span 11;
   }

    .locations h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 47px;
        margin: 0;

    }

    .locations h4 {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }




.locationSectionOne {
    background-color: white;
    grid-row: 4 / span 3;
    grid-column: 1 / span 11;
}

.locationOne {
    background-color: white;
    grid-row: 5;
    grid-column: 2 / span 5;
    margin-right: 25px;
}

    .locationOne h3 {
        color: #474E5D;
        margin-bottom: 10px;
    }
        
    .locationOne p {
        color: #474E5D;
        margin-top: -5px;
    }

.locationOnePhoto {
    display: flex;
    background-image: url('images/italy-mountain-villa.jpeg');
    background-size: cover;
    grid-row: 5;
    grid-column: 7 / span 4;
}

.locationSectionTwo {
    background-color: #474E5D;
    grid-row: 7 / span 3;
    grid-column: 1 / span 11;
}

.locationTwo {
    grid-row: 8;
    grid-column: 6 / span 5;
    margin-left: 25px;
}

    .locationTwo h3 {
        color: white;
        margin-bottom: 10px;
    }

.locationTwo p {
    color: white;
    margin-top: -5px;
}

.locationTwoPhoto {
    background-image: url('images/modern-villa.jpeg');
    background-size: cover;
    grid-row: 8;
    grid-column: 2 / span 4;
}

.locationSectionThree {
    grid-row: 10 / span 3;
    grid-column: 1 / span 11;
    background-color: white;
}

.locationThree {
    background-color: white;
    grid-row: 11;
    grid-column: 2 / span 5;
    margin-right: 25px;
}

    .locationThree h3 {
        color: #474E5D;
        margin-bottom: 10px;
    }

.locationThree p {
    color: #474E5D;
    margin-top: -5px;
}

.locationThreePhoto {
    background-image: url('images/tuscany-grape-field-nature-51947.jpeg');
    background-size: cover;
    grid-row: 11;
    grid-column: 7 / span 4;
}

.amenities {
    background-color: #474E5D;
    grid-row: 14;
    grid-column: 1 / span 11;
}

.amenities h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 47px;
    margin: 0;
}

.amenities h4 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.checkerBoard1 {
    background-image: url('images/checkerboard1.jpg');
    background-size: cover;
    grid-row: 16;
    grid-column: 2 / span 3;

}

    .checkerBoard1 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: min-content;
        text-align: center;
        padding: 17px;
        margin-top: 145px;
        margin-left: 116px;
    }

.checkerBoard2 {
    grid-row: 16;
    grid-column: 5 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}


    .checkerBoard2 p{
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard3 {
    background-image: url('images/checkerboard3.jpg');
    background-size: cover;
    grid-row: 16;
    grid-column: 8 / span 3;
   }

    .checkerBoard3 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 111px;
    }

.checkerBoard4 {
    grid-row: 17;
    grid-column: 2 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard4 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard5 {
    background-image: url('images/checkerboard5.jpg');
    background-size: cover;
    grid-row: 17;
    grid-column: 5 / span 3;
}

    .checkerBoard5 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 111px;
    }

.checkerBoard6 {
    grid-row: 17;
    grid-column: 8 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard6 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard7 {
    background-image: url('images/checkerboard7.jpg');
    background-size: cover;
    grid-row: 18;
    grid-column: 2 / span 3;
}

    .checkerBoard7 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 111px;
    }

.checkerBoard8 {
    grid-row: 18;
    grid-column: 5 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard8 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard9 {
    background-image: url('images/checkerboard9.jpg');
    background-size: cover;
    grid-row: 18;
    grid-column: 8 / span 3;
}

    .checkerBoard9 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 111px;
    }

.reviews {
    background-color: #474E5D;
    grid-row: 20;
    grid-column: 1 / span 11;
}

    .reviews h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 47px;
        margin: 0;
    }

    .reviews h4 {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

.caurosel {
    background-color: deepskyblue;
    grid-row: 22;
    grid-column: 1 / span 11;
}

.contact {
    background-color: pink;
    grid-row: 24;
    grid-column: 1 / span 11;
}

.contactForm {
    background-color: peru;
    grid-row: 26;
    grid-column: 1 / span 11;
}

.footer {
    background-color: cornflowerblue;
    grid-row: 28;
    grid-column: 1 / span 11;
}


