body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 50px 350px 150px 50px 325px 50px 50px 325px 50px 50px 325px 25px 25px 150px 50px 394px 394px 394px 50px 150px 25px 200px 25px 150px 50px 225px 50px 225px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.button {
    background-color: #474E5D; /* Grey button */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    margin: 4px 2px;
    
}

.button:hover {
    background-color: blue;
}


.button2 {
    background-color: white; /* Grey button */
    color: #474E5D;
}

.button2:hover {
    background-color: lightblue;
}

.button3 {
    color: white; /* Photo grid button */
    background-color: #474E5D;
    opacity: 50;
    font-size: 25px;
}




.logo {
    display: flex;
    background-color: #474E5D;
    grid-row: 1;
    grid-column: 1 / span 6;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
}

.nav {
    background-color: #474E5D;
    grid-row: 1;
    grid-column: 6 / span 6;
}

.menuItems {
    float: right;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: flex-end;
}

h1 {
    font-size: 65px;
    font-weight: 100;
}

h2 {
    font-size: 30px;
    font-weight: 100;   
}

h3 {
    font-size: 25px;
    font-weight: 100;
}

h4 {
    font-size: 18px;
    font-weight: 100;
}

h5 {
    font-size: 35px;
    font-weight: 100;
    color: #474E5D;
    margin-bottom: 5px;
    line-height: 40px;
}

p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px
}


ul {
    list-style-type: none;
    color: white;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 1px 1rem;
    padding-left: 2em;
}


.mainImg {
    background-image: url('images/tuscany-villas-sant-anna.jpg');
    background-size: cover;
    grid-column: 1 / span 8;
}

    .mainImg h1 {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin: 0;
    }

    .mainImg h3 {
        display: flex;
        justify-content: center;
        margin: 0;
        
    }


.map {
    background-image: url('images/Versilia.jpg');
    grid-row: 2;
    grid-column: 9 / span 3;
}

.locations {
    background-color: #474E5D;
    grid-row: 3;
    grid-column: 1 / span 11;
   }

    .locations h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 47px;
        margin: 0;

    }

    .locations h4 {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }




.locationSectionOne {
    background-color: white;
    grid-row: 4 / span 3;
    grid-column: 1 / span 11;
}

.locationOne {
    background-color: white;
    grid-row: 5;
    grid-column: 2 / span 5;
    margin-right: 25px;
}

    .locationOne h3 {
        color: #474E5D;
        margin-bottom: 10px;
    }
        
    .locationOne p {
        color: #474E5D;
        margin-top: -5px;
    }

.locationOnePhoto {
    display: flex;
    background-image: url('images/italy-mountain-villa.jpeg');
    background-size: cover;
    grid-row: 5;
    grid-column: 7 / span 4;
}

.locationSectionTwo {
    background-color: #474E5D;
    grid-row: 7 / span 3;
    grid-column: 1 / span 11;
}

.locationTwo {
    grid-row: 8;
    grid-column: 6 / span 5;
    margin-left: 25px;
}

    .locationTwo h3 {
        color: white;
        margin-bottom: 10px;
    }

.locationTwo p {
    color: white;
    margin-top: -5px;
}

.locationTwoPhoto {
    background-image: url('images/modern-villa.jpeg');
    background-size: cover;
    grid-row: 8;
    grid-column: 2 / span 4;
}

.locationSectionThree {
    grid-row: 10 / span 3;
    grid-column: 1 / span 11;
    background-color: white;
}

.locationThree {
    background-color: white;
    grid-row: 11;
    grid-column: 2 / span 5;
    margin-right: 25px;
}

    .locationThree h3 {
        color: #474E5D;
        margin-bottom: 10px;
    }

.locationThree p {
    color: #474E5D;
    margin-top: -5px;
}

.locationThreePhoto {
    background-image: url('images/tuscany-grape-field-nature-51947.jpeg');
    background-size: cover;
    grid-row: 11;
    grid-column: 7 / span 4;
}

.amenities {
    background-color: #474E5D;
    grid-row: 14;
    grid-column: 1 / span 11;
}

.amenities h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 47px;
    margin: 0;
}

.amenities h4 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

.checkerBoard1 {
    background-image: url('images/checkerboard1.jpg');
    background-size: cover;
    grid-row: 16;
    grid-column: 2 / span 3;

}

    .checkerBoard1 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: min-content;
        text-align: center;
        padding: 17px;
        margin-top: 145px;
        margin-left: 104px;
    }

.checkerBoard2 {
    grid-row: 16;
    grid-column: 5 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}


    .checkerBoard2 p{
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard3 {
    background-image: url('images/checkerboard3.jpg');
    background-size: cover;
    grid-row: 16;
    grid-column: 8 / span 3;
   }

    .checkerBoard3 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 104px;
    }

.checkerBoard4 {
    grid-row: 17;
    grid-column: 2 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard4 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard5 {
    background-image: url('images/checkerboard5.jpg');
    background-size: cover;
    grid-row: 17;
    grid-column: 5 / span 3;
}

    .checkerBoard5 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 40%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 104px;
    }

.checkerBoard6 {
    grid-row: 17;
    grid-column: 8 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard6 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard7 {
    background-image: url('images/checkerboard7.jpg');
    background-size: cover;
    grid-row: 18;
    grid-column: 2 / span 3;
}

    .checkerBoard7 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 40%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 104px;
    }

.checkerBoard8 {
    grid-row: 18;
    grid-column: 5 / span 3;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

    .checkerBoard8 p {
        color: #474E5D;
        margin-top: 5px;
    }

.checkerBoard9 {
    background-image: url('images/checkerboard9.jpg');
    background-size: cover;
    grid-row: 18;
    grid-column: 8 / span 3;
}

    .checkerBoard9 h2 {
        background-color: rgba(100, 100, 100, .8);
        width: 35%;
        text-align: center;
        padding: 25px;
        margin-top: 130px;
        margin-left: 104px;
    }

.reviews {
    background-color: #474E5D;
    grid-row: 20;
    grid-column: 1 / span 11;
}

    .reviews h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 47px;
        margin: 0;
    }

    .reviews h4 {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

/*.caurosel */


.carousel-wrapper {
    height: 200px;
    position: relative;
    grid-row: 22;
    grid-column: 1 / span 11;
    width: 90%;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    text-align: center;
    color: #474E5D;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

    .carousel-item h4 {
        font-style: italic;
        font-size: 20px;
        padding-top: 18px;
        margin-bottom: -25px;
    }

    .carousel-item h5 {
        font-size: 20px;
     }

.carousel-item p {
    color: #474E5D;
    font-size: 14px;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 100px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("images/arrow.png") 50% 50% / 32px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}



/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-image: url('images/caro1.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.item-2 {
    background-image: url('images/caro2.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.item-3 {
    background-image: url('images/caro3.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.contact {
    background-color: #474E5D;
    grid-row: 24;
    grid-column: 1 / span 11;
}

    .contact h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 47px;
        margin: 0;
    }

    .contact h4 {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0;
    }

.contactInfo {
    background-color: white;
    grid-row: 26;
    grid-column: 2 / span 4;
}

    .contactInfo p {
        color: #474E5D;
        font-size: 14px;
    }

    .contactInfo ul {
        color: #474E5D;
        width: 90%;
        font-size: 14px;
        margin-left: 11px;
    }

    .contactInfo li {
    margin: 10px;
    }


.contactForm {
    background-color: white;
    grid-row: 26;
    grid-column: 6 / span 5;
}

    .contactForm form {
        width: 99%;
        padding-left: 10px;
    }

input[type=text], select {
    padding: 12px 0px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

input[type=text], #comment {
    width: 98%;
    height: 75px;
}

input[type=text], #name {
    width: 47%;
    height: 20px;
    padding-left: 8px;
    margin-right: 13px;
}

input[type=text], #email {
    width: 48%;
    height: 20px;
}

input[type=submit]:hover {
    background-color: darkblue;
}

input[type=submit] {
    width: 75px; 
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    background-color: #474E5D;
    border: none;
    margin: 28px;
    color: white;
    padding: 10px 15px;
    float: right;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}



.footer {
    background-color: #474E5D;
    grid-row: 28;
    grid-column: 1 / span 11;

}

    .footer h3 {
        display: flex;
        justify-content: center;
        font-size: 30px;
        padding-top: 25px;
    }

    .footer p {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

